@import "../../../constants/variables.scss";

.Localization {
  @include flexible();
  gap: 20px;
  flex-wrap: wrap;

  .Title {
    font-size: 18px;
    font-weight: 600;
  }

  .ListOfLocalizations {
    @include flexible();
    gap: 10px;

    .Area {
      border: 1px solid $LightBlack;
      border-radius: 6px;
      padding: 4px;

      .InputArea {
        border: none;
        border-bottom: 1px solid $LightBlack;
        width: 60px;
        margin-left: 6px;
        background: transparent;
      }
    }
  }
}