@import "../../../constants/variables.scss";

.Aura {
  @include flexible();
  gap: 20px;

  .Title {
    font-size: 18px;
    font-weight: 600;
  }

  .AuraContainer {
    @include flexible();
    border-radius: 30px;
    gap: 6px;

    .Yes, .No {
      width: 46px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 70px;
      border: 1px solid $LightBlack;
      background-color: transparent;
      color: $Black;
      cursor: pointer;
    }

    .Active {
      background-color: #000000ab;
      color: $White;
    }
  }
}