@import "../../constants/variables.scss";

.Select {
  @include flexible();
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: $White;
  border-radius: 4px;
  box-shadow: 0px 0px 4px $LightBlack;
  min-height: 34px;
  height: auto;
  width: 100%;
  padding: 4px 6px;

  .TagContainer {
    @include flexible();
    justify-content: flex-start;
    gap: 6px;
    width: 96%;
    height: 100%;
    flex-wrap: wrap;

    .Input {
      border: none;
      flex-grow: 1;
      outline: none;
      min-height: 34px;
    }
  }

  .Icon {
    background-image: url("../../../assets/icons/down.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
  }

  .Search {
    background-image: url("../../../assets/icons/search.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
  }
}

.ListOfOptions {
  @include flexible();
  align-items: flex-start;
  flex-direction: column;
  padding: 4px 10px;
  background-color: white;
  border-radius: 2px 2px 10px 10px;
  position: absolute;
  margin-top: 2px;
  width: 336px;
  box-shadow: 0px 0px 4px black;
  row-gap: 2px;
}