@import "../../../constants/variables.scss";

.Drug {
  @include flexible();
  gap: 20px;

  .Title {
    font-size: 18px;
    font-weight: 600;
  }

  .DrugContainer {
    @include flexible();
    flex-direction: column;

    .DrugBox {
      @include flexible();
      justify-content: space-evenly;
      border: 1px solid $LightBlack;
      border-radius: 6px;

      .Name, .Dose {
        padding: 4px;
      }

      .Name {
        border-right: 1px solid $LightBlack;
      }
    }
  }
}