@import "../../constants/variables.scss";

.Tag {
  @include flexible;
  background: #a9a9a959;
  border-radius: 4px;
  padding: 2px 4px;

  .Text {

  }

  .Close {
    background-image: url("../../../assets/icons/close.png");
    width: 16px;
    height: 16px;
  }
}