@import "../../constants/variables.scss";

.Calendar {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 45%;
  width: 296px;
  min-height: 240px;
  max-height: 350px;
  background: $White;
  color: $Black;
  border: 2px solid $Black;
  border-radius: 10px;

  .Active {
    display: flex;
  }

  .MonthContainer {
    @include flexible();
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    padding: 0 10px;

    .MonthYear {
      @include flexible();
      flex-wrap: nowrap;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
      cursor: pointer;
    }

    .Arrow {
      cursor: pointer;
    }
  }

  .MonthTable {
    display: grid;
    grid-template-columns: repeat(7, 42px);
    grid-auto-rows: 1fr;
    height: 100%;
    border-top: 1.5px solid $Black;
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


    .Day {
      min-height: 40px;
      border-right: 0.2px solid #00000061;
      border-bottom: 0.2px solid #00000017;
      @include flexible();

      &:nth-last-child(7) {
        border-bottom-left-radius: 10px;
      }

      &:nth-last-child(-n + 7) {
        border-bottom: 0px;
      }

      &:nth-last-child(1) {
        border-bottom-right-radius: 10px;
      }
    }

    .Pointer {
      cursor: pointer;
    }
  }
}