@import "../../../constants/variables.scss";

.Medicine {
  @include flexible();
  gap: 20px;

  .Title {
    font-size: 18px;
    font-weight: 600;
  }

  .MedicineContainer {
    @include flexible();
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    background-color: $White;

    .MedicineBox {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $LightBlack;
      border-radius: 0;
      width: 100%;

      .Name, .Dose {
        padding: 4px;
        width: 100%;
        height: 100%;
        max-width: 200px;

        .Select {
          border-radius: 0;
          box-shadow: none;
          background-color: transparent;
          padding: 0;

          .TagContainer {
            flex-wrap: nowrap;

            .Tag {
              justify-content: flex-start;

              .Text {
                white-space: nowrap;
              }
            }

            .Input {
              width: 50%;
              background-color: transparent;
            }
          }
        }

        .ListOfOptions {
          width: auto;
          border-radius: 10px;
        }
      }

      .Name {
        border-right: 1px solid $LightBlack;
        max-width: 280px;
      }
    }

    .Pluse {
      margin-left: auto;
    }
  }
}