@import "../../../constants/variables.scss";

.Medicine {
  @include flexible();
  gap: 20px;

  .Title {
    font-size: 18px;
    font-weight: 600;
  }

  .MedicineContainer {
    @include flexible();
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    background-color: $White;

    .MedicineHeading {
      @include flexible();
      border-bottom: 1px solid $LightBlack;
      border-radius: 8px;
      width: 100%;
      background: #85AF52;

      .Heading {
        border-right: 1px solid $LightBlack;
        width: 200px;
        height: 100%;
        padding: 4px 6px;
      }

      .Svg {
        @include flexible();
      }
    }

    .MedicineBoxes {
      width: 100%;
      height: 100%;

      .MedicineBox {
        @include flexible();
        border-radius: 0;
        width: 100%;
        border-bottom: 1px solid $LightBlack;

        &:nth-last-child(1) {
          border-bottom: none;
        }

        .Name, .Dose {
          padding: 4px;
          height: 100%;
          width: 200px;
          border-right: 1px solid $LightBlack;

          .Select {
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;
            padding: 0;

            .TagContainer {
              flex-wrap: nowrap;

              .Tag {
                justify-content: flex-start;
                max-width: 170px;
                flex-wrap: wrap;

                .Text {
                  white-space: normal;
                  max-width: 154px;
                  overflow-wrap: break-word;
                }
              }

              .Input {
                width: 50%;
                background-color: transparent;
              }
            }
          }

          .ListOfOptions {
            width: auto;
            border-radius: 10px;
          }
        }

      }
    }
  }
}