@import "../../constants/variables.scss";

.Main {
  width: 100%;
  height: 80vh;
  @include flexible();
  justify-content: flex-start;
  background-color: $White;

    .MainContainer {
      @include flexible();
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      padding: 20px;
      background: #bfd1ba;
      height: 100%;
      width: 100%;
    }
}