.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/**
  * Не позволит в критических ситуациях элементу 'app__content'
  * вжать хедер и футер, насильно уменьшив их высоту.
  */
.app__header,
.app__footer {
    flex-shrink: 0;
}
/**
  * Высота элемента будет стремиться к максимальной,
  * что позволит гарантированно прижать
  * следующий за элементом футер к низу страницы.
  */
.app__content {
    flex-grow: 1;
}
